body {
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
  font-family: Montserrat,sans-serif;
  font-style: normal;
  color: #1c2541;
}

a {
  text-decoration: none;
}

.nav {
  z-index:99;
  position: fixed;
  top: 0;
  width: 100%;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  display:flex;
  padding: 12.5px 0;
  box-shadow: 0 4px 10px -10px grey;
}

.menu {
  position: relative;
  height:100%;
  display: flex;
  padding: 0 30px;
}

.menu-text:hover {
  transform: scale(.975) translateY(-50%);
}

.menu-text:active {
  transition: all 125ms ease-in-out;
  transform: scale(0.95) translateY(-50%);
}

.menu-text {
  transition: all 250ms ease-in-out;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: scale(1) translateY(-50%);
  text-align:left;
  color: #1c2541;
  text-decoration: none;
}

.header img {
  display:block;
  width: 75px;
  margin-left:auto;
  margin-right:auto;
}

.one-third {
  width: 33.333%;
}

h5 {
  margin:0;
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 576px) {
.offcanvas-header {
  display: none;
}

.offcanvas {
  position: inherit;
  bottom: 0;
  z-index: 1000;
  flex-grow: 1;
  visibility: visible !important;
  background-color: transparent;
  border-right: 0;
  border-left: 0;
  transition: none;
  transform: none;
}

.offcanvas-body {
  display: flex;
  flex-grow: 0;
  padding: 0;
  overflow-y: visible;
}
}

@media (min-width: 768px) {
  .offcanvas-header {
    display: none;
  }

  .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }

  .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 992px) {
  .offcanvas-header {
    display: none;
  }
  .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }

  .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 1200px) {
  .offcanvas-header {
    display: none;
  }

  .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }

  .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

@media (min-width: 1400px) {
  .offcanvas-header {
    display: none;
  }

  .offcanvas {
    position: inherit;
    bottom: 0;
    z-index: 1000;
    flex-grow: 1;
    visibility: visible !important;
    background-color: transparent;
    border-right: 0;
    border-left: 0;
    transition: none;
    transform: none;
  }

  .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
}

.offcanvas-header {
  display: none;
}

.offcanvas {
  position: inherit;
  bottom: 0;
  z-index: 1000;
  flex-grow: 1;
  visibility: visible !important;
  background-color: transparent;
  border-right: 0;
  border-left: 0;
  transition: none;
  transform: none;
  padding: 30px 15px;
}

.offcanvas-body {
  display: flex;
  flex-grow: 0;
  padding: 0;
  overflow-y: visible;
}

@media (prefers-reduced-motion: reduce) {
  .offcanvas {
    transition: none;
  }
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: transform 0.3s ease-in-out;
}

.offcanvas-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.offcanvas-header .btn-close {
  padding: 0.5rem 0.5rem;
}

.offcanvas-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.offcanvas-body {
  flex-grow: 1;
  padding: 1rem 1rem;
  overflow-y: auto;
}

.offcanvas-start {
  top: 0;
  left: 0;
  width: 400px;
  border-right: 1px solid #ececec;
  box-shadow: 4px 0 10px -10px grey;
  transform: translateX(-100%);
}

.offcanvas.show {
  transform: none;
}

.offcanvas-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  transition: opacity 0.3s ease-in-out;
}
.offcanvas-backdrop.fade {
  opacity: 0;
}
.offcanvas-backdrop.show {
  opacity: 0.5;
}

.btn-close {
  z-index: 2;
  padding: 1.25rem 1rem;
  cursor:pointer;
}

.btn-close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  opacity: 1;
}
.btn-close:disabled, .btn-close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.btn-close {
  padding: 0.5rem 0.5rem;
}

.button-group button, .reference button {
  margin: 20px 0;
  font-family: Montserrat,sans-serif;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  width: fit-content;
  font-size: 1.175rem;
  display: inline-block;
  transition: all 250ms ease-in-out;
  border-bottom: 3px solid #fff;
}

.button-group .is-checked {
  transition: all 250ms ease-in-out;
  border-bottom: 3px solid #508BC7;
}

.button-group i, .reference i {
  color: #508BC7;
  display: inline-block;
}

.button-group button:hover {
  transition: all 250ms ease-in-out;
  border-bottom: 3px solid #508BC7;
}

.button-group button:active {
  transition: all 125ms ease-in-out;
  transform: scale(0.975);
}

.reference button {
  font-weight: 600;
  cursor: default;
}

.Rwatching {
  border-bottom: 3px solid #508BC7!important;
}

.icons {
  width: 130px;
  border-radius:40px;
  padding: 10px 20px;
  background-color: rgba(22, 25, 26, 0.75);
  position: fixed;
  bottom: 5vh;
  right: calc(50vw - 86px);
  box-shadow: 0 7px 10px #A8A8A8;
  display: flex;
  justify-content: space-between;
}

.icons i {
  color: #CED4D9;
  font-size: 30px;
}

.icons a {
  transition: transform 250ms ease-in-out;
}

.icons a:hover {
  transform: translateY(-7.5px);
}

.icons a:active {
  transform: scale(0.975);
}

.grid {
  display: flex;
  margin:auto;
  margin-top: 135px;
  margin-bottom: 40px;
  width: min(92.5%, 97.5%);
}

.element-item {
  background-color: #fff;
  margin: 0;
  float: left;
  overflow:hidden;
  transition: all 250ms ease-in-out;
  /* box-shadow: .5rem .5rem .75rem #ececec;*/
}

.element-item:hover {
  transform: scale(0.975);
}

.element-item:active {
  transition: all 125ms ease-in-out;
  transform: scale(0.95);
}

.x1 {
  width: calc(100% / 9);
}

.x2 {
  width: calc(200% / 9);
}

.x3 {
  width: calc(300% / 9);
}

.a1d2 {
  height:0;
  padding-top:200%;
  position: relative;
}

.a1d1 {
  height:0;
  padding-top:100%;
  position: relative;
}

.a3d2 {
  height:0;
  padding-top:calc(200% / 3);
  position: relative;
}

.a3d1 {
  height:0;
  padding-top:calc(100% / 3);
  position: relative;
}

.a2d3 {
  height:0;
  padding-top:150%;
  position: relative;
}

.a2d1 {
  height:0;
  padding-top:50%;
  position: relative;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  padding:10px 10px;
  background-color: #fff;
}

.hero {
  text-align:left;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding:50px 50px;
  box-shadow: .25rem .25rem .75rem #ececec;
}

.hero hr {
  display:block;
  float:left;
  width: 23%;
  margin: 10px 5px 1em 0;
  border-top: 3px solid #508BC7;
}

.rept {
  float:left;
  color:#508BC7;
  font-size:21px;
  font-weight: 600;
  font-style:italic;
  margin:0 0 1em;
}

.titulos {
  font-size: 3em;
  color:#1c2541;
  font-weight: 700;
}

.subtitulo, .watching {
  color:#808080;
  font-size: 1.2rem;
  line-height:1.2em;
  width:100%;
  font-weight: 500;

}

.reference button {
  margin:0;
}

.alt-menu {
  position:absolute;
  bottom:50px;
  right:50px;
  color: #508BC7;
  font-weight: 600;
  cursor:pointer;
}

.portfolio-item {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  padding:50px 50px;
  box-shadow: .25rem .25rem .75rem #ececec;
  color:#808080;
}

@media screen and (max-width:1440px){
  .grid {
    width: 97.5%;
  }
}

@media screen and (max-width:1366px){
  .grid {
    width: 97.5%;
  }
}

@media screen and (max-width:1280px){
  .grid {
    width: 100%;
  }

  .x1 {
    width: calc(100% / 8);
  }

  .x2 {
    width: calc(100% / 4);
  }

  .x3 {
    width: calc(300% / 8);
  }
}

@media screen and (max-width:1152px){
  .grid {
    width: 100%;
  }

  .x1 {
    width: calc(100% / 7);
  }

  .x2 {
    width: calc(200% / 7);
  }

  .x3 {
    width: calc(300% / 7);
  }
}

@media screen and (max-width:1024px){
  .grid {
    width: 100%;
  }

  .x1 {
    width: calc(100% / 6);
  }

  .x2 {
    width: calc(100% / 3);
  }

  .x3 {
    width: calc(100% / 2);
  }
}

@media screen and (max-width:960px){
  .grid {
    width: 100%;
  }

  .x1 {
    width: calc(100% / 5);
  }

  .x2 {
    width: calc(200% / 5);
  }

  .x3 {
    width: calc(300% / 5);
  }
}

@media screen and (max-width:768px){
  .grid {
    width: 100%;
    margin-top: 66px;
  }

  .x1 {
    width: calc(100% / 5);
  }

  .x2 {
    width: calc(200% / 5);
  }

  .x3 {
    width: calc(300% / 5);
  }

  .header img {
    width:50px;
  }

  .header {
    padding:0 0;
  }

  .menu {
    padding: 0 15px;
  }

  .menu-text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width:720px){
  .grid {
    width: 100%;
    margin-top: 66px;
  }

  .x1 {
    width: calc(100% / 4);
  }

  .x2 {
    width: calc(200% / 4);
  }

  .x3 {
    width: calc(300% / 4);
  }

  .header img {
    width:50px;
  }

  .header {
    padding:0 0;
  }

  .menu {
    padding: 0 15px;
  }

  .menu-text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width:600px){
  .grid {
    width: 100%;
    margin-top: 66px;
  }

  .x1 {
    width: calc(100% / 3);
  }

  .x2 {
    width: calc(200% / 3);
  }

  .x3 {
    width: calc(300% / 3);
  }

  .header img {
    width:50px;
  }

  .header {
    padding:0 0;
  }

  .menu {
    padding: 0 15px;
  }

  .menu-text {
    font-size: 1.125rem;
  }
}

@media screen and (max-width:480px){

}
